---
import type IArticle from '../interfaces/IArticle';
import { Image } from 'astro:assets'
import MarkdownRenderer from './markdown-renderer.astro'
import Badge from './badge.astro';


interface Props {
    article: IArticle;
    showSummary: boolean;
}
const { article, showSummary } = Astro.props;
---

<section class="flex flex-col gap-4 border-b border-t py-4 border-gray-300 h-full">
    <h2 class={ 'font-extrabold ' + ((showSummary)? 'text-4xl' : 'text-2xl') }><a href={'/articles/'+ article.attributes.slug}>
        { article.attributes.title }</a></h2>
    
    <div class='grid grid-cols-2 gap-4 '>
        <Image class={ !showSummary ? 'col-span-full' : ''} loading="eager" src={`${import.meta.env.STRAPI_URL}${article.attributes.media.data.attributes.url}`} alt={article.attributes.media.data.attributes.alternativeText} width={article.attributes.media.data.attributes.width}  height={article.attributes.media.data.attributes.height}></Image>
        { showSummary && <div class="prose prose-lg text-black line-clamp-3 first:prose-p:mt-0"><MarkdownRenderer markdown={article.attributes.summary}></MarkdownRenderer></div>     }
    </div>
    <ul class="list-none my-2 flex flex-row gap-4 text-lg flex-wrap ">
        {
            article.attributes.tags.data.map((tag) => (
                    <li><Badge tag={tag}></Badge></li>
                )
            )
        }
    </ul>
</section>