---
import Layout from "../layouts/Layout.astro";

import ArticlePreview from "../components/article-preview.astro";
import Event from "../components/event.astro";

import Container from "../components/container.astro";
import type IArticle from "../interfaces/IArticle";
import type IEvent from "../interfaces/IEvent";

import fetchApi from "../lib/strapi";

const articles = await fetchApi<IArticle[]>({
  endpoint: "articles", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response,
  query: {
    populate: "tags,media",
    "sort[0]": "pinned:desc",
    "sort[1]": "publishedAt:desc",
  },
});

let oldestDateAllowed = new Date();
oldestDateAllowed.setDate(oldestDateAllowed.getDate() - 7);

const events = await fetchApi<IEvent[]>({
  endpoint: "events", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response,
  query: {
    "filters[date][$gte]": `${oldestDateAllowed.toISOString()}`,
    sort: "date:asc",
    "pagination[start]": "0",
    "pagination[limit]": "5",
  },
});

const pinnedArticle =
  articles.length > 0
    ? articles.find((article) => article.attributes.pinned) || articles[0]
    : null;
const otherArticles =
  articles.length > 0
    ? articles.filter((article) => article !== pinnedArticle)
    : [];
---

<Layout title="Agir Autrement - Saint Grégoire">
  <Container>
    <main class="grid gap-8">
      <h1
        class="w-fit -skew-x-12 bg-green-700 p-4 text-4xl font-extrabold text-white"
      >
        A la une
      </h1>
      {
        pinnedArticle && (
          <ArticlePreview article={pinnedArticle} showSummary={true} />
        )
      }
      <h2
        class="w-fit -skew-x-12 bg-green-700 p-4 text-4xl font-extrabold text-white"
      >
        Agenda
      </h2>

      <div class="grid grid-flow-row gap-4 lg:-mx-40 lg:grid-flow-col">
        {
          events &&
            events.map((calendarEvent) => (
              <div>
                <Event event={calendarEvent} />
              </div>
            ))
        }
      </div>
      <h2
        class="w-fit -skew-x-12 bg-green-700 p-4 text-4xl font-extrabold text-white"
      >
        Actualités
      </h2>
      <div
        class="grid items-stretch justify-stretch space-y-4 divide-y divide-gray-300 md:grid-cols-2 lg:gap-8 lg:space-y-0 lg:divide-y-0 xl:grid-cols-3"
      >
        {
          otherArticles.map((article) => (
            <div>
              <ArticlePreview article={article} showSummary={false} />
            </div>
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
