---
import Layout from "../layouts/Layout.astro";

import ArticlePreview from "../components/article-preview.astro";
import Event from "../components/event.astro";

import Container from "../components/container.astro";

import { getCollection } from "astro:content";
import type { IEvent } from "../interfaces/IEvent";
import type { IArticle } from "../interfaces/IArticle";

// let articles: IArticle[] = await getCollection("articles");

// articles.sort(
//   (a: IArticle, b: IArticle) =>
//     (a.data.pinned === b.data.pinned ? 0 : a.data.pinned ? -1 : 1) ||
//     a.data.publishedAt.getTime() - b.data.publishedAt.getTime()
// );

let articles: IArticle[] = [];

let oldestDateAllowed = new Date();
oldestDateAllowed.setDate(oldestDateAllowed.getDate() - 7);

let events: IEvent[] = await getCollection("events");

events = events
  .sort((a: IEvent, b: IEvent) => a.data.date.getTime() - b.data.date.getTime())
  .filter((event) => event.data.date > oldestDateAllowed)
  .slice(0, 5);

const pinnedArticle =
  articles.length > 0
    ? articles.find((article) => article.data.pinned) || articles[0]
    : null;
const otherArticles =
  articles.length > 0
    ? articles.filter((article) => article !== pinnedArticle)
    : [];
---

<Layout title="Agir Autrement - Saint Grégoire">
  <Container>
    <main class="grid gap-8">
      <h1
        class="w-fit -skew-x-12 bg-green-700 p-4 text-4xl font-extrabold text-white"
      >
        A la une
      </h1>
      {
        pinnedArticle && (
          <ArticlePreview article={pinnedArticle} showSummary={true} />
        )
      }
      <h2
        class="w-fit -skew-x-12 bg-green-700 p-4 text-4xl font-extrabold text-white"
      >
        Agenda
      </h2>

      <div class="grid grid-flow-row gap-4 lg:-mx-40 lg:grid-flow-col">
        {
          events &&
            events.map((calendarEvent) => (
              <div>
                <Event event={calendarEvent} />
              </div>
            ))
        }
      </div>
      <h2
        class="w-fit -skew-x-12 bg-green-700 p-4 text-4xl font-extrabold text-white"
      >
        Actualités
      </h2>
      <div
        class="grid items-stretch justify-stretch space-y-4 divide-y divide-gray-300 md:grid-cols-2 lg:gap-8 lg:space-y-0 lg:divide-y-0 xl:grid-cols-3"
      >
        {
          otherArticles.map((article) => (
            <div>
              <ArticlePreview article={article} showSummary={false} />
            </div>
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
