---
import fetchApi from '../../lib/strapi';
import type IArticle from "../../interfaces/IArticle";
import createSlug from '../../lib/utils';
import MarkdownRenderer from '../../components/markdown-renderer.astro'
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets'



export async function getStaticPaths() {
  const articles = await fetchApi<IArticle[]>({
    endpoint: 'articles',
    wrappedByKey: 'data',
    query: { populate: 'tags,media'}
  });

  return articles.map((article) => ({
    params: { slug: createSlug(article.attributes.title) },
    props: article,
  }));
}
type Props = IArticle;

const article = Astro.props;
---
<Layout title={article.attributes.title}>
    <main class="w-full flex flex-col gap-8">
      <h1 class=" container max-w-4xl  mx-auto text-6xl font-extrabold">{article.attributes.title}</h1>
      <div class="prose prose-xl container max-w-4xl mx-auto "> 
        <MarkdownRenderer markdown={article.attributes.summary}>
         
        </MarkdownRenderer>
      </div>
      <Image class="w-full h-auto max-h-[40rem] object-cover" src={`${import.meta.env.STRAPI_URL}${article.attributes.media.data.attributes.url}`} alt={article.attributes.media.data.attributes.alternativeText} width={article.attributes.media.data.attributes.width}  height={article.attributes.media.data.attributes.height}></Image>
      <div class="prose prose-xl container max-w-4xl  mx-auto "> 
        <MarkdownRenderer markdown={article.attributes.content}>
         
        </MarkdownRenderer>
      </div>

    </main>

</Layout>
